@import url(./utilities.css);
:root{
    --pure:#FFFFFF;
    --coal:#000000; 
}

body{
    font-family: Roboto, Ubuntu, sans-serif;
}

html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing:antialiased;
}

.container{
    max-width: 900px;
    padding: 20px 20px;
    margin: auto auto;
}

.hero{
    padding: 2rem 1rem;
}

.hero .center h1{
    font-size: 4rem;
    font-weight: 100;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: capitalize;
}

.hero .center p{
    line-height: 1.9;
    margin-bottom: 1rem;
}

.section-heading{
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}

.section-heading + p{
    color: var(--pure);
    margin-bottom: 1rem;
}

section.magix{
    padding: 2rem 1rem;
}

section.magix .section-heading + p{
    text-align:justify;
    color: var(--coal);
    line-height: 2rem;
}

table {
    font-size: 0.9em;
    font-family: sans-serif;
}

td{
    width: 50px;
    height: 50px;
    text-align: center;
}

label{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: large;
}