@import url(./utilities.css);
:root{
    --pure:#FFFFFF;
    --coal:#000000; 
}

body{
    font-family: Roboto, Ubuntu, sans-serif;
}

html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing:antialiased;
}

header{
    margin-bottom: 3rem;
}

.container{
    max-width: 900px;
    padding: 20px 20px;
    margin: auto auto;
}

section.skills{
    padding: 2rem 1rem;
}

section.skills .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-self: center;
    line-height: 2rem;
}

header nav .left a{
    color: var(--coal);
    text-decoration: none;
    margin-right: 2rem;
    transition: all 0.3s ease;
}


header .downloadcv{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

header .hero .downloadcv a{
    padding: 0.8rem 1rem;
    font-size: 1rem;
    font-weight: 300;
    border: 2px solid var(--coal);
    outline: none;
    cursor: pointer;
    background: transparent;
    color: var(--coal);
    transition: all 0.3s ease;
    color: var(--coal);
    text-decoration: none;
    transition: all 0.3s;
    margin-bottom: 3rem;
}

header .hero .downloadcv a:hover{
    background: var(--coal);
    color: var(--pure);
}


header nav .left a:hover{
    font-size: 2rem;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
}

header nav{
    align-items: center;
    align-self: center;
    justify-self: center;
    padding: 2rem 0;
}

.hero{
    padding: 2rem 1rem;
}

.hero .center h1{
    font-size: 4rem;
    font-weight: 100;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: capitalize;
}

.hero .center p{
    line-height: 1.9;
    margin-bottom: 1rem;
}

.links{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.links a{
    margin-right: 2rem;
    transition: all 0.3s;
}

.links a img{
    max-width: 50px;
    max-height: 50px;
}

.links a img:hover{
    width: 125%;
    height: 125%;
}

.section-heading{
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}

.section-heading + p{
    color: var(--pure);
    margin-bottom: 1rem;
    text-align: center;
}

section.music{
    padding: 2rem 1rem;
}

section.music .section-heading + p{
    text-align:justify;
    color: var(--coal);
    line-height: 2rem;
}

section.music .music-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

section.projects{
    padding: 2rem 1rem;
}

section.projects .card-wrapper a{
    color: var(--coal);
    text-decoration: none;
    transition: all 0.3s;
}

section.projects .card-wrapper a:hover{
    outline: none;
    cursor: pointer;
}

section.projects .card-wrapper{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    row-gap: 2rem;
}

section.projects .card-wrapper .card{
    padding: 2rem 1rem;
    text-align: center;
}
section.projects .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

section.projects .card-wrapper .card p{
    line-height: 1.6;
}

section.projects .card-wrapper .card:hover{
    color:var(--pure);
    text-transform: uppercase;
    text-decoration: solid;
}

section.projects .section-heading + p{
    text-align:justify;
    color: var(--coal);
    line-height: 2rem;
}